extends layout

block layout-content
  dev.View
    h1.Banner Mad-Dev
    div.Message
      div.Title
        h3 Making the Best
        h1 Food for Devs
      span.Details Access the Mad-Dev Team Portal
    .NavButtons
      a(href="/user")
          div.NavButton Just dive in!